@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-size: 16px;
    display: block;
    @apply text-primary;
    @apply font-latto;
  }

  h1 {
    /* font-size: 6rem; */
    @apply text-6xl;
  }

  h2 {
    /* font-size: 3rem; */
    @apply text-4xl;
  }

  h3 {
    /* font-size: 1.5rem; */
    @apply text-2xl;
  }

  a {
    @apply no-underline;
  }
}

@layer utilities {
  .filter-drop-shadow {
    filter: drop-shadow(10px 8px 4px rgba(0, 0, 0, 0.25));
  }
}
